.popup.popup_submit(data-id="form")
	.popup_form_bg.close_popups.remove
	.popup_form_w
		.popup_close.close_popups.remove 
			button(type="button")
				+icon('close')
		.popup_form_head 
			h3 Оставьте заявку
		form.full_form
			label(for="name") Ваше имя
			.full_form_input
				input(type="text" placeholder="Имя...." id="name")
			label(for="telefon") Ваш телефон
			.full_form_input
				input(type="tel" placeholder="Введите телефон" id="telefon")
			.popup_form_bottom
				.popup_form_btn
					input(type="submit" value="Получить консультацию") 
				.popup_policy!='Отправляя данные, вы соглашаетесь<br> с <a href="#"> политикой конфиденциальности</a>.'



.popup.popup_menu(data-id="menu")
	.popup_form_bg_m.close_popups.remove 
	.popup_form_m
		.popup_close_m.close_popups.remove 
			button(type="button")
				+icon('close')
		.popup_menu_head 
			.popup_logo 
				a(href="#")
					img(src="i/logo.png", alt="")
		.popup_menu_main
			ul
				each item in ['Преимущества', 'Условия', 'Персонал', 'Стоимость', 'Отзывы', 'Частые вопросы', 'Контакты']
					li
						a(href="#").remove=item  
		.popup_tel.remove
			a(href="#") +7 991 091 25 53
		.popup_mail.remove
			a(href="#") pansionat-maiak@yandex.ru
		.popup_addres 
			p Ул. Пластунская дом 14
